{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block login %}

<nav class="navbar navbar-expand-md bg-dark  navbar-dark fixed-top ">
<a class="navbar-brand mr-auto " href="index.html" style="margin-left: 20px;" ><img src="images/logo.png" width="50" height="40px;"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  >
  <span class="navbar-toggler-icon  "></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
    <!--
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'home' %}">HOME <span class="sr-only">(current)</span></a>
    </li>-->
    <!--
      <li class="nav-item    ">
          <a class="nav-link " href="{% url 'event' %}"> EVENT </a></li>-->
      <li class="nav-item   "><a class="nav-link " href="{% url 'logout' %}"> LOGOUT  </a></li>

          <li class="nav-item   "><a class="nav-link  " href="sponsor.html"> SPONSOR  </a></li>

          <li class="nav-item   "><a class="nav-link  " href="gallery.html"> GALLERY </a></li>
  </ul>
</div>
</nav>

{% endblock %}

{% block content %}

<div class="container">
  <h1 class="text-center">Dashboard</h1>
  <h4 class="text-center">Hi</h4>
  <p class="text-center">{{ f_name }} {{ l_name }}</p>
  <h4 class="text-center">Phone Number:</h4>
  <p class="text-center">{{ phone }}</p>
  <h4 class="text-center">Username:</h4>
  <p class="text-center">{{ username }}</p>
  <h4 class="text-center">Email:</h4>
  <p class="text-center">{{ email }}</p>
  <h4 class="text-center">College:</h4>
  <p class="text-center">{{ college }}</p>
  <p class="text-center">Welcome to your dashboard. You can <a href="{% url 'edit' %}">edit your profile</a> or <a href="">change your password</a>.</p>
  <p class="text-center">Click here to see your <a href=""> profile</a>.
  <p class="text-center">Click here to add <a href="">events</p>
</div>
{% endblock %}
