{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}

<div class="container border border-primary text-center">
  <h2>Login</h2>
  <div class="panel-group">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ field.label_tag }}</div>
        </div>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <br><br>
        <button type="submit">Sign up</button>

      </form>

  </div>
{% endblock %}
